.button {
  --default: blue;
  --active: blue;
  position: relative;
  border: none;
  outline: none;
  background: none;
  padding: 30px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transform: scale(var(--s, 1));
  transition: transform 0.2s;
}
.button:active {
  --s: 0.96;
}
.button svg {
  display: block;
  fill: none;
  stroke-width: var(--sw, 3px);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button .circle {
  width: 76px;
  height: 76px;
  transform: rotate(-90deg);
}
.button .circle circle.default {
  stroke: var(--default);
}
.button .circle circle.active {
  stroke: var(--active);
  stroke-dasharray: 227px;
  stroke-dashoffset: var(--active-offset, 227px);
  transition: stroke-dashoffset var(--all-transition, 4s) ease
    var(--all-delay, 0.8s);
}
.button span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 13px;
  font-weight: 500;
  font-size: 10px;
  color: var(--active);
  opacity: var(--count-opacity, 0);
  transform: translateY(var(--count-y, 4px));
  -webkit-animation: var(--count, none) 0.3s ease forwards
    var(--all-delay, 4.6s);
  animation: var(--count, none) 0.3s ease forwards var(--all-delay, 4.6s);
  transition: opacity 0.2s ease 0.6s, transform 0.3s ease 0.6s;
}
.button .icon {
  --sw: 2px;
  width: 24px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -12px;
}
.button .icon svg.line {
  width: 4px;
  height: 37px;
  stroke: var(--active);
  position: absolute;
  left: 10px;
  top: 0;
  stroke-dasharray: 0 33px var(--line-array, 33px) 66px;
  stroke-dashoffset: var(--line-offset, 33px);
  transform: translateY(var(--line-y, 0));
  opacity: var(--line-opacity, 1);
  transition: stroke-dasharray 0.2s, stroke-dashoffset 0.2s,
    transform 0.32s ease var(--all-delay, 0.25s);
}
.button .icon div {
  width: 40px;
  height: 32px;
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 1px;
  margin-left: -20px;
  transform: translate(var(--icon-x, 0), var(--icon-y, 0));
  transition: transform 0.3s ease var(--all-delay, 4.8s);
  -webkit-animation: var(--overflow, none) 0s linear forwards
    var(--all-delay, 4.8s);
  animation: var(--overflow, none) 0s linear forwards var(--all-delay, 4.8s);
}
.button .icon div:before,
.button .icon div:after {
  content: '';
  position: absolute;
  z-index: 1;
  height: 2px;
  left: var(--l, 0);
  top: 15px;
  width: var(--w, 16px);
  background: var(--active);
  border-radius: 1px;
  transform-origin: var(--tx, 15px) 1px;
  transform: rotate(var(--before-rotate, 0deg));
  opacity: var(--tick-opacity, 0);
  transition: transform 0.4s ease var(--all-delay, 4.8s),
    opacity 0s linear var(--all-delay, 4.8s);
}
.button .icon div:after {
  --l: 14px;
  --w: 26px;
  --tx: 1px;
  transform: rotate(var(--after-rotate, 0deg));
}
.button .icon div svg {
  stroke: var(--active);
}

@-webkit-keyframes hide {
  to {
    opacity: 0;
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes count {
  to {
    transform: translateY(4px);
    opacity: 0;
  }
}
@keyframes count {
  to {
    transform: translateY(4px);
    opacity: 0;
  }
}
@-webkit-keyframes overflow {
  to {
    overflow: visible;
  }
}
@keyframes overflow {
  to {
    overflow: visible;
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

/* body {
  min-height: 100vh;
  font-family: "Inter", "Inter UI", Arial;
  display: flex;
  
  align-items: center;
  background: #275EFE;
  font-family: "Roboto", Arial, sans-serif;
} */

body .dribbble img {
  display: block;
  width: 300px;
}
body .twitter {
  position: fixed;
  display: block;
  right: 112px;
  bottom: 14px;
}
body .twitter svg {
  width: 24px;
  height: 24px;
  fill: white;
}
row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
