html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', serif;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.workskills, .workskills * {
  position: absolute;
  box-sizing: content-box;
  transform: rotate(0deg);
  transform-origin: center;
  margin: 0;
  padding: 0;
  cursor: default;
}

.workskills {
  background-color: rgba(18, 16, 16, 1);
  overflow: auto;
  width: 1366px;
  height: 581px;
}

.workskills .programmingLanguages {
  background: url("assets/programmingLanguages.png") center/cover no-repeat;
  opacity: 0.19;
  width: 1366px;
  height: 911px;
  top: -18px;
}

.workskills .knownSkills, .workskills .programmingSkills {
  font-family: 'Helvetica Neue', Arial;
  font-size: 29px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  white-space: pre;
}

.workskills .knownSkills {
  width: 191px;
  height: 34px;
  left: 128px;
  top: 215px;
}

.workskills .programmingSkills {
  width: 283px;
  height: 34px;
  left: 125px;
  top: 338px;
}

.workskills .iconAwesomePython, .workskills .iconAwesomeJsSquare, .workskills .iconSimpleVisualstudiocode, .workskills .iconSimpleDjango {
  opacity: 1;
}

.workskills .iconAwesomePython {
  fill: rgba(255, 255, 255, 1);
  width: 42.29px;
  height: 59.10px;
  left: 855.16px;
  top: 334px;
}

/* ...similarly for other icons */
