@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');

body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
}

.bg-container,
.bg1-container {
    padding: 5%;
    background-color: black;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    width: 95%;
    height: 70%;
    margin-right: 10px;
}

.heading {
    margin: 20px 0 5px 0;
    color: white;
    font-size: 34px;
    font-weight: 200;
}

.para {
    margin-top: 0px;
    color: grey;
    font-size: 20px;
}

.display {
    display: none;
}

.back-button,
.download-button {
    font-size: 15px;
    color: white;
    border-radius: 10px;
    height: 36px;
    width: 132px;
}

.back-button {
    border: 2px solid white;
    background-color: transparent;
    margin: 100px 0 13px 7px;
}

.download-button {
    border-width: 0px;
    background-color: #2270e6;
    height: 50px;
    width: 170px;
    margin-bottom: 13px;
}

.imageoc {
    width: 100%;
}

.BABE-CARE-UI-UX- {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}

.two-flex-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
}

.first-flex-heading,
.second-flex-heading {
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.first-item {
    margin-right: 20px;
    width: 250px;
}

.first-flex-para,
.first-flex-para2 {
    font-size: 18px;
    font-weight: 200;
    color: grey;
}

.first-flex-para2 {
    padding-left: 15px;
}

.second-flex-item {
    padding: 20px;
    margin-left: 20px;
}

.second-flex-heading {
    margin: 7px 0 30px 0;
}

.bottom-margin,
.Rectangle-113,
.Rectangle-100 {
    margin-bottom: 10px;
}

.Rectangle-113,
.Rectangle-100 {
    width: 95%;
    object-fit: contain;
    border: solid 1px #000000;
}

.Rectangle-100 {
    width: 1400px;
}
